.headerwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    color: white;
}
.header_logo {
    margin-left: 48px;
}
.header__search {
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.header__searchContainer {
    height: 20px;
    border: 1px solid #31363A;
    border-radius: 4px;
    width: 375px;
}

.header__searchContainer > input {
    background: transparent;
    border: none;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.header__searchContainer > input:focus {
    outline:none;
}
.menu__items{
    margin-left: 48px;
    margin-right: 48px;
}
.menu__items a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
}
.menu__items a:hover{
    color: #5AC53B;
}